@model UserEditProfile
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<form method="post" class="form-group" enctype="multipart/form-data">
    <label>ADINIZ</label>
    <input type="text" asp-for="Name" />
    <br />
    <label>SOYADINIZ</label>
    <input type="text" asp-for="Surname" />
    <br />
    <label>TELEFON</label>
    <input type="number" asp-for="PhoneNumber" />
    <br />
    <label>EMAİL</label>
    <input type="email" asp-for="Email" required/>
    <br />
    <label>ŞİFRE</label>
    <input type="text" asp-for="Password" required />
    <br />
    <label>ŞİFRE TEKRARI:</label>
    <input type="text" asp-for="ConfirmPassword" required />
    <br />
    <label>RESİM</label>
    <input type="file" asp-for="Image" required />
    <br />
    <button type="submit" class="btn btn-primary"></button>
</form>
