
@{
    ViewData["Title"] = "ReportList";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<h1>RAPOR LİSTESİ</h1>

<a href="/Report/ExcelStatic" class="btn btn-primary">EXCEL LİSTESİ</a>
<br /><br />
<a href="/Report/DynamicExcel" class="btn btn-primary">MÜŞTERİ LİSTESİ</a>
<br /><br />
<a href="/Report/StaticPdfReport" class="btn btn-primary">MÜŞTERİ LİSTESİ PDF</a>